*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
body{
    background-color: #f4f4f4;
}
.container{
    max-width: 980px;
}
.menu{
    position:relative;
    ul{
        display: flex;
        align-items: center;
        justify-content:space-between;
        li{
            list-style: none;
            padding: 30px;
            a{
                font-size: 12px;
                text-decoration: none;
                text-transform: uppercase;
                color: #171717;
                font-family: 'PS';
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 0;
                    right: 0;
                    height: 2px;
                    background-color: #000000;
                    transition: all .3s;
                }
                &:hover{
                    &::after{
                        left: 0;
                        width: 100%;
                        transition: all .3s;
                    }
                }
            }
        }
        .li{
            padding: 0;
        }
    }
    &-mid{
        display: flex;
        align-items: center;
        justify-content:space-between;
    }
    &::after{
        content: '';
        position: absolute;
        width:100%;
        height: 1px;
        display: block;
        background-color: #000000;
    }
}
// menu fix
.menu-fixed{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f4f4f4;
    z-index: 10;
    ul{
        display: flex;
        align-items: center;
        justify-content:space-between;
        li{
            list-style: none;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 30px;
            a{
                font-size: 12px;
                text-decoration: none;
                text-transform: uppercase;
                color: #171717;
                font-family: 'PS';
                position: relative;
                transition: all 0.5s;
                &::after{
                    content: '';
                    width: 0;
                    right: 0;
                    height: 2px;
                    bottom: -5px;
                    position: absolute;
                    display: block;
                    background: #000000;
                    transition: all .3s;
                }
            }
            &:hover{
                a{
                    transition: all .3s;
                    &::after{
                        width: 100%;
                        left: 0;
                        transition: all .3s;
                    }
                }
            }
        }
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        display: block;
        background-color: #000000;
    }
}
// load page
.load-page{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ffde00;
    z-index: 2000;
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #333333;
        width: 45px;
        height: 45px;
        animation: rotate 2s linear infinite;
    }
}
@keyframes rotate{
    from{
        opacity: 1;
        transform: rotate(0deg);
        transition: all .4s;
    }to{
        opacity: 0;
        transform: rotate(360deg);
        transition: all .4s;
    }
}

// menu mobile
.menu-mobile{
    // display: none; // tạm thời
    background-color: #ffde00;
    height: 100vh;
    width: 100%;
    top: 0;
    position: fixed;
    opacity: 0;
    transition: all .5s;
    z-index: 100;
    left: -100%;
    ul{
        text-align: center;
        margin-top: 90px;
        li{
            list-style: none;
            padding: 10px;
            position: relative;
            a{
                font-size: 18px;
                text-decoration: none;
                font-family: 'PB';
                color: #000000;
                text-transform: uppercase;
                transition: all .4s;
                position: relative;
            }
        }
        .li_active{
            opacity: 0.3;
            a{
                transition: all .4s; 
            }
        }
    }
}

.header{
    background-color: #525355;
    height: 72px;
    .container{
        display: flex;
        position: relative;
        height: 100%;
        align-items: center;
        .logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 45px;
            height: 45px;
            img{
                width: 100%;
            }
        }
        .fb{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        .hamburger{
            display: none;
            z-index: 1000;
            cursor: pointer;    
            transition: all .5s ease-in-out;
            &__burger{
                width: 25px;
                height: 3px;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 2px 5px rgba(255,101,47,.2);
                transition: all .5s ease-in-out;
                &::before, &::after{
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 3px;
                    display: block;
                    border-radius: 10px;
                    background: #fff;
                    box-shadow: 0 2px 5px rgba(255,101,47,.2);
                    transition: all .5s ease-in-out;
                }
                &::before{
                    transform: translateY(-10px);
                }
                &::after{
                    transform: translateY(10px);
                }
                
            }
        }
    }
}
header{
    position: relative;
}
.hamburger.open .hamburger__burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.hamburger.open .hamburger__burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.hamburger.open .hamburger__burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
.Gbox{
    padding: 60px;
    text-align: center;
    &_frist{
        p{
            font-size: 14px;
            font-family: 'PL';
            color:#171717;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    &_d{
        h1{
            font-size: 20px;
            font-family: 'PB';
            color:#525355;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin: 30px 0;
            display: inline-block;
            background-color: #ffde00;
        }
        p{
            font-size: 12px;
            color:#171717;
            max-width: 745px;
            margin: auto;
            font-family: 'PR';
        }
    }
}

.tab{
    text-align: center;
    ul{
        display:inline-flex;
        li{
            padding: 0 20px;
            list-style: none;
            a{
                text-decoration: none;
                font-family: 'PS';
                font-size: 12px;
                color: #898989;
                text-transform: uppercase;

            }
        }
    }
}
.imgs{
    padding: 20px 0 60px 0;
}
.project{
    .img{
        cursor: pointer;
        width: 100%;
        overflow: hidden;
        height: 211px;
        img{
            width: 100%;
            max-width: 100%;
            height: 100%;
            transition: all .4s;
        }
        &:hover{
            img{
                transform: scale(1.1);
                transition: all .4s;
            }
        }
    }
    .text{
        text-align: center;
        padding-top: 40px;
        h5{
            font-size: 12px;
            font-family: 'PB';
            color: #171717;
            text-transform: uppercase;
            position: relative;
            &::after{
                position: absolute;
                content: '';
                width: 16px;
                height: 3px;
                top: 20px;
                left:47%;
                display: block;
                background-color: #ffde00;
            }
        }
        &_d{
            padding-top: 15px;
            p{
                font-size: 12px;
                font-family: 'PR';
                color: #171717;
            }
        }
    }
}
.allwork, .home-allwork{
    display: inline-block;
    cursor: pointer;
    p{
        font-size: 12px;
        font-family: 'PS';
        color:#171717;
        text-transform: uppercase;
    }
    img{
        padding-top: 10px;
        transition: all.4s;
    }
    a{
        &:hover{
            img{
                transition: all.4s;
                transform: translateY(10px);
            }
        }
    }
}
// hr
.hr{
    padding: 78px 0 58px 0;
    height: 1px;
    hr{
        width: 100%;
        height: 100%;
        background: #000;
    }
}

// footer

.footerleft{
    .email, .tel, .address{
        p{
            font-size: 12px;
            padding: 10px 0;
            font-family: 'PR';
            text-transform: uppercase;
            color: #171717;
        }
    }
    .tel{
        display: inline-flex;
        padding: 10px 0 40px 0;
    }
}
footer{
    position: relative;
    .contact{
        p{
            font-size: 12px;
            padding: 15px 0;
            font-family: 'PR';
            text-transform: uppercase;
            color: #171717;
            max-width: 215px;
        }
        .login{
            padding-top: 25px;
        }
        .submit{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            button{
                font-size:10px;
                cursor: pointer;
                padding: 5px 10px;
                text-transform: uppercase;
                color: #fff;
                border: none;
                background-color: #000;
                font-family: 'PB';
                margin-top: 65px;
            }
        }
    }
    &::after{
        content: '';
        background-color: #ffde00;
        position: absolute;
        display:block;
        width: 100%;
        height: 100%;
        top: 25%;
        z-index: 2;
    }
}

form{
    padding-top: 30px;
}
footer .row .info .tel p:first-child {
    margin-right: 30px;
}

form input, form textarea{
    border: none;
    margin-top: 15px;
    background: transparent;
    border-bottom: 1px solid #000;
    resize: none;
    width: 100%;
    outline: none;
}
form label{
    font-size: 12px;
    font-family: 'PR';
    color: #171717;
}
.backtoTop{
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-top: 65px;
    &_img{
        padding-bottom: 15px;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            transform: translateY(10px);
            transition: all .3s;
        }
    }
    p{
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px;
    }
}

// pc large
@media screen and (max-width:1024px){
    .header{
        .container{
            .hamburger{
                display: none;
            }
        }
    }
    .menu{
        ul{
            li{
                padding: 25px;
                a{
                    font-size: 11px;
                }
            }
        }
    }
    .Gbox{
        padding: 55px;
        &_frist{
            p{
                font-size: 13px;
            }
        }
        &_d{
            h1{
                font-size: 19px;
            }
            p{
                font-size: 11px;
                max-width: 730px;
            }
        }
    }
    .tab{
        ul{
            li{
                a{
                    font-size: 11px;
                }
            }
        }
    }
    .project{
        .text{
            padding-top:35px;
            h5{
                font-size: 11px;
                &:after{
                    top: 15px;
                    height: 2px;
                }
            }
            &_d{
                padding-top: 10px;
                p{
                    font-size: 11px;
                }
            }
        }
    }
    .allwork{
        p{
            font-size: 11px;
        }
    }
    .hr{
        padding: 70px 0 50px 0;
    }
    .footerleft{
        .email, .tel, .address{
            p{
                font-size: 11px;
            }
        }
    }
    footer{
        .contact{
            p{
                font-size: 11px;
                padding: 15px 0;
                max-width: 156px;
            }
            .submit{
                button{
                    font-size:9px;
                }
            }
        }
        &::after{
            top: 28%;
        }
    }
    form input, form textarea{
        margin-top: 14px;
    }
    form label{
        font-size: 11px;
    }
    .backtoTop{
        display: flex;
        align-items:center;
        flex-direction: column;
        margin-top: 60px;
        &_img{
            padding-bottom: 15px;
            cursor: pointer;
        }
        p{
            text-transform: uppercase;
            font-size: 9px;
            letter-spacing: 1px;
        }
    }
}
// tablet
@media only screen and (max-width:991px) and (min-width:500px){
    .hamburger{
        display: block;
    }
    .header{
        .container{
            .hamburger{
                display: none;
            }
        }
    }
    .menu{
        ul{
            li{
                padding: 20px;
                a{
                    font-size: 10px;
                }
            }
        }
    }
    .Gbox{
        padding: 45px;
        &_frist{
            p{
                font-size: 12px;
            }
        }
        &_d{
            h1{
                font-size: 17px;
            }
            p{
                font-size: 10px;
                max-width: 600px;
            }
        }
    }
    .tab{
        ul{
            li{
                a{
                    font-size: 10px;
                }
            }
        }
    }
    .project{
        .text{
            padding-top:30px;
            h5{
                font-size: 10px;
                &:after{
                    top: 15px;
                    height: 2px;
                }
            }
            &_d{
                padding-top: 10px;
                p{
                    font-size: 10px;
                }
            }
        }
    }
    .allwork{
        p{
            font-size: 10px;
        }
    }
    .hr{
        padding: 55px 0 40px 0;
    }
    .footerleft{
        .email, .tel, .address{
            p{
                font-size: 10px;
            }
        }
    }
    footer{
        .contact{
            p{
                font-size: 10px;
                padding: 10px 0;
                max-width: 142px;
            }
            .submit{
                button{
                    font-size:9px;
                }
            }
        }
        &::after{
            top: 28%;
        }
    }
    form input, form textarea{
        margin-top: 10px;
    }
    form label{
        font-size: 10px;
    }
    .backtoTop{
        display: flex;
        align-items:center;
        flex-direction: column;
        margin-top: 50px;
        &_img{
            padding-bottom: 10px;
            cursor: pointer;
        }
        p{
            text-transform: uppercase;
            font-size: 8px;
            letter-spacing: 1px;
        }
    }
}
//mobile
@media only screen and(max-width:767px) and (min-width:320px){
    body{
        background-color: #ffffff;
    }
    .header{
        .container{
            .hamburger{
                display: block;
                z-index: 1000;
            }
            .fb{
                right: 10%;
            }
        }
    }
    .menu{
        display: none;
    }
    .active{
        left: 0;
        opacity: 1;
        transition: all .5s;
        overflow: hidden;
    }   
    .Gbox{
        padding: 55px;
        &_frist{
            p{
                font-size: 14px;
            }
        }
        &_d{
            h1{
                font-size: 20px;
            }
            p{
                display: none;
            }
        }
    }
    .tab{
        display: none;
    }
    .project{
        .text{
            padding-top:35px;
            h5{
                font-size: 14px;
                &:after{
                    top: 29px;
                    height: 3px;
                }
            }
            &_d{
                padding-top: 30px;
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .allwork{
        p{
            font-size: 12px;
        }
    }
    .hr{
        padding: 40px 0 60px 0;
    }
    .footerleft{
        text-align: center;
        .tel{
            padding: 0;
        }
        .email, .tel, .address{
            p{
                font-size: 12px;
                padding: 5px 0;
            }
        }
    }
    footer{
        .contact{
            display: none;
        }
        &::after{
            top: 68%;
        }
    }
    .backtoTop{
        display: flex;
        align-items:center;
        flex-direction: column;
        margin-top: 80px;
        &_img{
            padding-bottom: 15px;
        }
        p{
            font-size: 10px;
        }
    }
}
