
.details{
    .rental{
        background-color: #525355;
        height: 640px;
        &_item{
            padding-top: 75px;
            .number{
                background-color: #ffde00;
                display: inline-flex;
                min-width: 120px;
                height: 120px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                p{
                    font-size: 11px;
                    font-family: 'PR';
                    color: #171717;
                    text-transform: uppercase;
                }
                span{
                    font-size: 61.46px;
                    font-family: 'DB';
                    color: #171717;
                }
            }
            .text{
                padding-top: 30px;
                h2{
                    font-size: 32px;
                    font-family: 'PE';
                    color: #ffffff;
                }
                p{
                    font-size: 14px;
                    font-family: 'PR';
                    color: #ffffff;
                }
            }
        }
    }

}

.companybooking{
    padding: 73px 0 0 0;
    .row-right1{
        margin-left: 30px;
    }
    &_company{
        .title{
            padding-left: 20px;
            h2{
                font-size: 28px;
                font-family: 'PE';
                color: #171717;
            }
        }
    }
    &_form{
        .login{
            margin-top: 25px;
            label{
                font-size: 12px;
                font-family: 'PR';
            }
            input{
                border: none;
                margin-top: 5px;
                background: transparent;
                border-bottom: 1px solid #000;
                width: 100%;
                outline: none;
            }
            textarea{
                resize: none;
                background: transparent;
                margin-top: 21px;
                border: 1px solid #000;
                width: 100%;
                outline: none;
            }
        }
    }
    &_booking{
        margin-top: 38px;
        h2{
            font-size: 28px;
            font-family: 'PE';
        }
        p{
            font-size: 12px;
            font-family: 'PR';
            padding-top: 25px;
        }
        &-form{
            .login{
                label, p{
                    font-size: 12px;
                    font-family: 'PR';
                    color: #171717;
                }
                textarea{
                    resize: none;
                    background: transparent;
                    margin-top: 21px;
                    width: 100%;
                    outline: none;
                }
                input{
                    background: transparent;
                    width: 100%;
                    height: 38px;
                    padding-left: 10px;
                    border: none;
                    border-bottom: 1px solid #000;
                    resize: none;
                    outline: none;
                    margin-top: 20px;
                }
                .boder-all{
                    border: 1px solid #000;
                }
                #subject1{
                    margin-top: 38px;
                }
            }
        }
    }
    &_numberSmall{
        margin: 20px 0 30px 0;
        .numberSmall{
            cursor: pointer;
            background-color: #111111;
            margin-right: 18px;
            width: 38px;
            height: 38px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            transition: all .3s;
            span{
                font-size: 24px;
                font-family: 'DB';
                color: #b4b4b4;
                transition: all .3s;
            }
            &:hover{
                background-color: #ffde00;
                transition: all .3s;
                span{
                    color: #171717;
                    transition: all .3s;
                }
            }
        }
    }

}
.after-arrow{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 69%;
        right: -2%;
        width: 13px;
        height: 13px;
        background-image: url(../img/icon/right-arrow.svg);
    }
}
.input1{
    margin-top: 30px;
    .login{
        label{
            font-size: 12px;
            font-family: 'PR';
            color: #171717;
        }
        input{
            background: transparent;
            outline: none;
            width: 100%;
            height: 38px;
            border: none;
            margin-top: 20px;
        }
        .boder-all{
            border: 1px solid #000;
        }
    }
}
.submit1{
    display: flex;
    align-items: center;
    .text{
        min-width: 100px;
        background-color: #525355;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        height: 100px;
        justify-content: center;
        margin-top: 68px;
        cursor: pointer;
        p{
            font-size: 20px;
            text-transform: uppercase;
            font-family: 'PE';
            color: #ffde00;
        }
    }
    .note{
        padding-left: 20px;
        width: 185px;
        p{
            font-size: 12px;
            font-family: 'PR';
            color: #171717;
        }
    }
}

// pc large
@media screen and (max-width:1024px){  
    .details{
        .rental{
            height: 600px;
            &_item{
                padding-top: 70px;
                .number{
                    min-width: 110px;
                    height: 110px;
                    p{
                        font-size: 10px;
                    }
                    span{
                        font-size: 55.46px;
                    }
                }
                .text{
                    padding-top: 25px;
                    h2{
                        font-size: 25px;
                    }
                    p{
                        font-size: 13px;
                    }
                }
            }
        }

    }

    .companybooking{
        padding: 65px 0 0 0;
        .row-right1{
            margin-left: 25px;
        }
        &_company{
            .title{
                padding-left: 15px;
                h2{
                    font-size: 26px;
                }
            }
        }
        &_form{
            .login{
                margin-top: 25px;
                label{
                    font-size: 11px;
                }
                textarea{
                    margin-top: 18px;
                }
            }
        }
        &_booking{
            margin-top: 30px;
            h2{
                font-size: 26px;
            }
            p{
                font-size: 11px;
                padding-top: 20px;
            }
            &-form{
                .login{
                    label, p{
                        font-size: 11px;
                    }
                    textarea{
                        margin-top: 18px;
                    }
                    input{
                        height: 37px;
                        margin-top: 15px;
                    }
                    #subject1{
                        margin-top: 33px;
                    }
                }
            }
        }
        &_numberSmall{
            margin: 20px 0 30px 0;
            .numberSmall{
                margin-right: 17px;
                width: 37px;
                height: 37px;
                span{
                    font-size: 22px;
                }
                }
        }
    }

    .after-arrow{
        &::after{
            top: 66%;
        }
    }
    .input1{
        margin-top: 25px;
        .login{
            label{
                font-size: 11px;
            }
            input{
                height: 37px;
                margin-top: 15px;
            }
        }
    }
    .submit1{
        .text{
            min-width: 90px;
            border-radius: 10px;
            height: 90px;
            margin-top: 58px;
            p{
                font-size: 18px;
            }
        }
        .note{
            padding-left: 15px;
            width: 185px;
            p{
                font-size: 11px;
            }
        }
    }
}

// tablet
@media only screen and (max-width:991px) and (min-width:500px){        
    .details{
        .rental{
            height: 550px;
            &_item{
                padding-top: 60px;
                .number{
                    min-width: 100px;
                    height: 100px;
                    p{
                        font-size: 9px;
                    }
                    span{
                        font-size: 50.46px;
                    }
                }
                .text{
                    padding-top: 20px;
                    h2{
                        font-size: 20px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }

    }

    .companybooking{
        padding: 55px 0 0 0;
        .row-right1{
            margin-left: 20px;
        }
        &_company{
            .title{
                padding-left: 10px;
                h2{
                    font-size: 20px;
                }
            }
        }
        &_form{
            .login{
                margin-top: 20px;
                label{
                    font-size: 10px;
                }
                textarea{
                    margin-top: 15px;
                }
            }
        }
        &_booking{
            margin-top: 25px;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 10px;
                padding-top: 15px;
            }
            &-form{
                .login{
                    label, p{
                        font-size: 10px;
                    }
                    textarea{
                        margin-top: 15px;
                    }
                    input{
                        height: 37px;
                        margin-top: 15px;
                    }
                    #subject1{
                        margin-top: 33px;
                    }
                }
            }
        }
        &_numberSmall{
            margin: 15px 0 25px 0;
            .numberSmall{
                margin-right: 15px;
                width: 35px;
                height: 35px;
                span{
                    font-size: 20px;
                }
                }
        }
    }

    .after-arrow{
        &::after{
            top: 66%;
            right: -3%;
        }
    }
    .input1{
        margin-top: 20px;
        .login{
            label{
                font-size: 10px;
            }
            input{
                height: 37px;
                margin-top: 15px;
            }
        }
    }
    .submit1{
        .text{
            min-width: 80px;
            height: 80px;
            margin-top: 48px;
            p{
                font-size: 15px;
            }
        }
        .note{
            padding-left: 15px;
            p{
                font-size: 10px;
            }
        }
    }
}

// mobile
@media only screen and(max-width:767px) and (min-width:320px){
    .details{
        .rental{
            background-color: #ffffff;
            height: 100px;
            &_item{
                padding-top: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .number{
                    min-width: 103px;
                    height: 103px;
                    p{
                        font-size: 12px;
                    }
                    span{
                        font-size: 63.78px;
                    }
                }
                .text{
                    padding-top: 0;
                    h2{
                        font-size: 32px;
                        color: #171717;
                    }
                    p{
                        font-size: 14px;
                        color: #171717;
                    }
                }
            }
        }

    }
    .companybooking{
        padding: 76px 0 0 0;
        .row-right1{
            margin-left: 0;
        }
        &_company{
            .title{
                padding-left: 0;
            }
        }
        &_form{
            .login{
                margin-top: 30px;
                textarea{
                    margin-top: 27px;
                }
            }
        }
        &_booking{
            margin-top: 38px;
            p{
                padding-top: 30px;
            }
            &-form{
                .login{
                    label, p{
                        font-size: 12px;
                    }
                    textarea{
                        margin-top: 27px;
                    }
                    input{
                        height: 38px;
                        padding-left: 10px;
                        margin-top: 20px;
                    }
                    #subject1{
                        margin-top: 38px;
                    }
                }
            }
        }
        &_numberSmall{
            margin: 20px 0 30px 0;
            .numberSmall{
                margin-right: 20px;
                width: 39px;
                height: 39px;
            }
        }
    }
    .after-arrow{
        position: relative;
        &::after{
            top: 117%;
            right: 45%;
            width: 15px;
            height: 9px;
            background-image: none;
            background-image: url(../img/icon/arrow-down.png);
        }
    }
    .submit1{
        .text{
            margin-top: 50px;
            p{
                font-size: 20px;
            }
        }
        .note{
            padding-left: 20px;
            width: 146px;
        }
    }
    .text-note{
        display: none;
    }
    .hr{
        padding: 50px 0 56px 0;
    }
}