@font-face{
  font-family:'PB';
  src: url('../fonts/ProximaNova-Bold.woff') format('woff');
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face{
  font-family:'PL';
  src: url('../fonts/ProximaNova-Light.woff') format('woff');
  src: url('../fonts/ProximaNova-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'PR';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face{
  font-family:'PS';
  src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'DB';
  src: url('../fonts/DINCondensed-Bold.woff2') format('woff2'),
      url('../fonts/DINCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'PE';
  src: url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
      url('../fonts/ProximaNova-Extrabld.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}