// css img, button, heading, title, input, elements, components...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}

// hr
.hr{
    padding: 70px 0 35px 0;
    @include xs{
        padding: 35px 0 45px 0;
    }
}

main{
    @include xs{
        padding-top: 72px;
    }
}

.popup{
    display: none;
    background: #000000a1;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
    &-modal{
        @include size(500px, 300px);
        @include br(10px);
        background: whitesmoke;
        margin: auto;
        @include mid;
        .line{
            height: 50px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background: #525355;
        }
        .text{
            @include text(var(--body18-fs),'PB', null, $black-cl, none);
            text-align: center;
            margin-top: 50px;
        }
        .btn{
            background-color: #525355;
            cursor: pointer;
            @include br(5px);
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%);
            margin-bottom: 10px;
            &-d{
                padding: 15px 35px;
                p{
                    @include text(var(--body14-fs),'PB', null, $white-cl, uppercase);
                }
            }
        }
    }
}
.activePopup{
    display: block;
}


