// css header
header{
    background-color: $gray-cl;
    height: 72px;
    position: relative;
    z-index: 999;
    .container{
        @include flex-between;
        height: 100%;
        position: relative;
    }
    .logo{
        @include mid;
        @include size(44px);
    }
    .hamburger{
        display: none;
        z-index: 1000;
        cursor: pointer;    
        position: relative;
        @include transition(all .5s ease-in-out);
        span, &::before, &::after{
            @include line(25px, 3px, $yellow-cl);
            @include transition(all .5s ease-in-out);
            @include br(5px);
        }
        &::before{
            @include transform(translateY(-10px));
        }
        &::after{
            @include transform(translateY(10px));
        }
    }
    @include sm{
        .hamburger{
            display: block;
        }
    }
    @include xs{
        width:100%;
        position: fixed;
        .hamburger{
            display: block;
        }
    }
    .open{
        span{
            opacity: 0;
            @include transform(translateX(-200px));
        }
        &::before{
            @include transform(rotate(45deg));
        }
        &::after{
            @include transform(rotate(-45deg));
        }
    }
}




