//======================================================BOXED LAYOUT=======================================================

$container-max-width: 100%;
$container-width: 1010px; // tùy thuộc vào container của bản thiết kế // $container-width = container (đo từ bản thiết kế) + 30px

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

//=====================================CÁC BIẾN KHÔNG THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE======================================

// background-body
$bg-body:#f4f4f4;

// colors - tuỳ chỉnh
$white-cl: #fff;
$black-cl: #171717;
$gray-cl: #525355;
$yellow-cl:#ffde00;


// timing transition - tuỳ chỉnh
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

// ========================================CÁC BIẾN CÓ THAY ĐỔI GIÁ TRỊ KHI RESPONSIVE=====================================

:root {
    //=========== VÍ DỤ ============//

    // font-size & line-height heading

    --h1-fs: 7.2rem;
    --h1-lh: 8rem;

    --h2-fs: 3.6rem;
    --h2-lh: 5.8rem;

    --body11-fs: 1.1rem;

    --body12-fs: 1.2rem;

    --body14-fs: 1.4rem;
    --body14-lh: 2.2rem;

    --body18-fs: 1.8rem;
    
    --body20-fs: 2rem;

    --number-fs: 6.2rem;


    // Genaral Variable

    --gap: 30px; // gap này sử dụng cho gap cột & padding của container, container-fluid

    @media (max-width: $sm-max) {
        // Tablet
        --number-fs: 5.8rem;
    }
    @media (max-width: $xs-max) {
        // Mobile
        --h1-fs: 3.6rem;
        --h1-lh: 4.2rem;

        --h2-fs: 3.4rem;
        --h2-lh: 5.6rem;
    
        --body18-fs: 1.6rem;
        
        --body20-fs: 1.8rem;    

        --number-fs: 3.8rem;

    }
}
