.aboutus{
    background-image: url(../img/Aboutus/x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 685px;
    margin-bottom: 65px;
    .content{
        padding-top: 90px;
        .title{
            h1{
                @include text(var(--h2-fs), "PB", var(--h2-lh), $yellow-cl, uppercase);
                letter-spacing: 20px;
            }
        }
        .text{
            padding-top: 15px;
            p{
                @include text(var(--body18-fs), "PL", 4rem, $white-cl, none);
            }
            @include xs{
                padding: 15px 10px 0;
            }
        }
        .Booknow{
            display: flex;
            margin-top: 45px;
            &_d{
                padding: 28px;
                background-color:#ffde00;
                @include br(10px);
                cursor: pointer;
                p{
                    @include text(2.4rem, "PE", 3rem, $black-cl, uppercase);
                }
            }
            &_text{
                width: 100px;
                margin-left: 20px;
                p{
                    @include text(var(--body14-fs), "PL", null, #e4e4e4, none);
                }
            }
        }
    }
    @include xs{
        height: 900px;
        .content{
            .text{
                padding: 15px 10px 0;
                p{
                    line-height: 3.4rem;
                }
            }
        }
    }
}
