
.studio{
    --pt:73px;
    --mw:120px;
    &__wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 70px 20px;
        padding: var(--pt) 0 23px 0;
        &-item{
            cursor: pointer;
            .img{
                max-height: 300px;
                overflow: hidden;
                position: relative;
                img{
                    @include img;
                    width: 100%;
                    height: 100%;
                    @include transition(all .3s);
                }
                &:after{
                    @include line(100%, 100%, #000000);
                    top:0;
                    left: 0;
                    opacity: 0.4;
                    @include transition(all .3s);
                }
            }
            .content{
                @include flex-between;
                height: 118px;
                @include transition(all .3s);
                .number{
                    background-color: $yellow-cl;
                    height: 100%;
                    min-width: var(--mw);
                    text-align:center;
                    p{
                        @include text(1.1rem, 'PR', null, $black-cl, uppercase);
                        padding-top: 25px;
                    }
                    span{
                        @include text(var(--number-fs), 'DB', null, $black-cl, none);
                    }
                }
                .dimensions{
                    padding-top: 12px;
                    p{
                        @include text(var(--body12-fs), 'PR', 2rem, $black-cl, uppercase);
                        @include transition(all .3s);
                    }
                    .arrownumber{
                        padding-top: 10px;
                    }
                }
                .details{
                    cursor: pointer;
                    text-align: center;
                    padding: 10px 30px 0 0;
                    p{
                        @include text(var(--body12-fs), 'PS', null, $black-cl, uppercase);
                        @include transition(all .3s);
                    }
                    svg{
                        @include transition(all .3s);
                        @include size(15px, 10px);
                        margin-top: 17px;
                    }
                }
            }
            &:hover{
                .img{
                    img{
                        @include transition(all .3s);
                        @include transform(scale(1.1));
                    }
                    &:after{
                        opacity: 0;
                        @include transition(all .3s);
                    }
                }
                .content{
                    background-color: #4f5355;
                    @include transition(all .3s);
                    .dimensions{
                        p{
                            color: $white-cl;
                            @include transition(all .3s);
                        }
                    }
                    .details{
                        p{
                            color: $white-cl;
                            @include transition(all .3s);
                        }
                        svg{
                            @include transform(translateY(10px));
                            @include transition(all .3s);
                            filter: invert(74%) sepia(75%) saturate(940%) hue-rotate(1deg) brightness(107%) contrast(104%);                        
                        }
                    }
                }
            }
        }
    }
    @include sm{
        --mw:100px;
        .dimensions{
            padding-left: 20px;
        }
    }
    @include xs{
        --pt:30px;
        &__wrap{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 40px 20px;
        }
        .details{
            p{
                display: none;
            }
            svg{
                @include transform(rotate(-90deg) !important);
                margin-top: 0;
            }
        }
        .content{
            height: 100px;
            .number{
                padding:15px 0;
                p{
                    padding-top: 10px;
                }
            }
        }
    }
}

