
.studioDetail{
    --mw: 120px;
    &__back{
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 34px 0 30px 0;
        cursor: pointer;
        a{
            padding-right: 28px;
            @include transition(all .3s);
            @include text(var(--body12-fs), 'PR', null, $black-cl, none);
        }
        img{
            @include transition(all .3s);
        }
        &:hover{
            a{
                @include transform(translateX(30px));
                @include transition(all .3s);
            }
            img{
                @include transform(translateX(-80px));
                @include transition(all .3s);
            }
        }
    }
    &__slide{
        height:477px;
        .flickity-viewport{
            height: 100% !important;
        }
        &-item{
            @include size(100%, 100%);
            img{
                @include size(100%, 100%);
                object-fit: cover;
            }
        }
    }
    &__detail{
        @include flex-between;
        padding: 0 20px;
        .number{
            background-color: $yellow-cl;
            @include size(120px, 120px);
            text-align:center;
            p{
                @include text(1.1rem, 'PR', null, $black-cl, uppercase);
                padding-top: 25px;
            }
            span{
                @include text(var(--number-fs), 'DB', null, $black-cl, none);
            }
        }
        .dimensions{
            .p1{
                @include text(var(--body14-fs), 'PR', 2rem, $black-cl, uppercase);
            }
            p{
                @include text(var(--body12-fs), 'PR', 2rem, $black-cl, none);
            }
        }
        .floorplan, .fullscreen{
            display: flex;
            align-items: center;
            p{
                padding-right: 20px;
                @include text(var(--body12-fs), 'PR', 2rem, $black-cl, none);
            }
        }
        .floorplan{
            p{
                padding-right: 10px;
            }
        }
        .arrow{
            padding-top: 0;
            .btn{
                margin:0;
                span{
                    color: $black-cl;
                }
                &-prev{
                    &::after{
                        background:$black-cl;
                    }
                }
            }
            .btn-prev{
                margin-right: 20px;
            }
            .btn-next{
                margin-left: 20px;
            }
    
        }
        @include sm{
            .dimensions, .floorplan, .fullscreen{
                display: none;
            }
        }
    }
    @include xs{
        &__slide{
            height:180px;
        }
        &__detail{
            padding: 0;
            justify-content:start;
            .number{
                @include size(100px, 100px);
                p{
                    padding-top: 15px;
                }
                span{
                    font-size:6.3rem;
                }
            }
            .dimensions{
                display:block;
                padding-left: 40px;
                p{
                    line-height:3rem;
                }
            }
            .arrow{
                display: none !important;
            }
        }
        .lineStudio{
            display: none;
        }
    }
}


// lineStudio

.lineStudio{
    height: 1px;
    padding: 55px 0 30px 0;
    hr{
        width: 100%;
        height: 100%;
        background: $black-cl;
    }
    @include xs{
        display: none;
    }
}
//  Pricing & Floorplan

.Details{
    h2{
        @include text(3.2rem, 'PE', null, $black-cl, none);
    }
    p{
        @include text(var(--body14-fs), 'PR', null, $black-cl, none);
    }
    &__pricing{
        p{
            padding: 22px 0 28px 0;
        }
    }
    &__table{
        nav{
            ul{
                @include flex-between;
                border: 1px solid #000;
                li{
                    padding: 18px;
                }
                .li1{
                    padding-left: 60px;
                }
            }
        }
    }
    &__floorplan{
        .img{
            max-width: 270px;
            height: 270px;
            img{
                margin: 82px 0 0 0;
                width: 100%;
                @include img;
                height: 100%;
            }
            @include xs{
                img{
                    margin:23px 0 0 0;
                }
            }
        }
    }
    &__specs{
        padding-top: 118px;
        .row{
            .textleft{
                padding-top: 30px;
            }
            p{
                line-height:3rem;
            }
        }
    }
    &__booknow{
        text-align: center;
        margin-top: 60px;
        .text{
            @include size(100px,100px);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: $gray-cl;
            @include br(10px);
            margin-top: 18px;
            p{
                @include text(2.7rem, 'PE', null, $yellow-cl, uppercase);
            }
        }
    }
    @include xs{
        &__booknow{
            padding-bottom: 30px;
        }
        .item{
            padding-top: 38px;
        }
        &__specs{
            padding-top: 52px;
        }
        
    }
}


